* {
  margin: 0;
  padding: 0;
}

.homeSection{
  width: 100vw;
  height: 100vh;
  /* background-image: url("https://cdn.pixabay.com/photo/2018/04/05/17/21/kettlebell-3293475_960_720.jpg");
  background-position: bottom;
  background-size: cover; */
  /* display: flex;
  align-items: flex-end;
  justify-content: center; */
}
.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
}

.slides {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: white;
  font-size: 2rem;
  margin-top: -28.12rem;
  margin-left: 45%;

  width: 40%;
  padding: 2%;
}
.h1 {
  color: white;
  /* margin-left: -25%; */
  text-transform: uppercase;
  position: relative;
  display: flex;
}
.h1::before{
  content: "Welcome";
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: deeppink ;
  /* border-right:0.4rem solid deeppink ;
  animation: slide 2s linear infinite;
  -webkit-animation: slide 2s linear infinite; */
}
/* @keyframes slide{
  0%{
    width: 0%;
  }
  50%{
    width: 100%;
  }
  100%{
    width: 0%;
  }
} */

.h1:hover {
  color: deeppink;
  cursor: pointer;
}
.text:hover {
  color: deeppink;
  cursor: pointer;
}
.getTouchButton {
  font-size: 1.5rem;
  background: transparent;
  margin-left: 46%;
  border-radius: 30px;
  border: 1px solid orange;
  color: white;
  padding: 1%;
}
.getTouchButton:hover {
  color: white;
  background-color: orange;
}

#pricingSection {
  display: flex;
  justify-content: center;
}

.content{
  display: grid;
  place-items: center;
 
  position: relative;
  right: 60%;
  width: 150%;
}

/* MediaQuery for pricing section */

/* mediaQuery upto 1024px for mobile */

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  #pricingSection {
    display: flex;
  }

  .containerStyles{
    width: 100%;
  }
}

@media screen and(max-width: 780px) {
  .containerStyles{
    width: 100%;
  }
}
.containerStyles{
 width: 100vw;
  height: 100vh;
  background-position: bottom;
  background-size: cover;
  border: 1px solid green,
};