* {
  margin: 0;
  padding: 0;
}
/* 
.mainNav {
  display: flex;
  height: 10vh;
  width: 100%;
  justify-content: space-between;
  position: relative;
  z-index: 99;
  background-color: white;
  position: fixed;
  align-items: center;
  margin: 0 auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.logo {
  position: absolute;
  left: 3%;
  padding: 16px;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  font-weight: bold;
} */
/* .links {
  position: absolute;
  left: 30%;
}
.links ul {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
}
.links ul li {
  list-style: none;
  padding: 25px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 200px;
  color: white;
} */

.navlink {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: sans-serif;
}
.navlink:hover {
  color: #c4306b;
}
/* .links ul li:first-child a {
  color: #c4306b;
} */

.userProfile {
  width: 5%;
  color: black;
}

.menuBTN > button {
  padding: 0.4rem;
  display: none;
  color: #000;
  border: none;
  width: 1%;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 992px) {
  .navLinks,
  .button {
    display: none;
  }
  .userProfile .menuBTN > button {
    display: block;
    position: absolute;
    right: 10%;
    top: 3%;
  }
}

.navbar {
  display: flex;
  position: absolute;
  background-color: white;
  top: 0;
  width: 98%;
  color: black;
  padding: 20px;
  justify-content: space-between;
  /* border: 1px solid red; */
  position: fixed;
  z-index: 99;
  box-shadow: 0 0 10px 2px #c4306b;
}

ul {
  list-style: none;
}
ul li {
  text-decoration: none;
}
.logo {
  color: #fc036b;
  font-size: 2rem;
  cursor: pointer;
  text-decoration: none;
}

.navLinks {
  display: flex;
  align-items: center;
}
.btn {
  background: transparent;
  color: whitesmoke;
  border: none;
  padding-top: 25px;
  width: 50%;
  cursor: pointer;
  transition: scale 0.2 ease;
  font-size: 1rem;
}

.navLinks li {
  margin: 0 30px;
}

@media (max-width: 450px) {
  .navLinks,
  .button {
    display: none;
  }
}

.navbarMobile {
  display: block;
  position: absolute;
  right: 2rem;
  width: 90%;
  transition: all 2s ease-out;
  margin-top: 5rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
}
.navbarMobile li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0.7rem;
}


.menuBTN > button {
  padding: 0.4rem;
  display: none;
  color: #000;
  border: none;
  width: 1%;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

.button {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #c4306b;
  width: 10%;
  cursor: pointer;
  transition: scale 0.2 ease;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.button:hover {
  background-color: black;
  scale: 1.05;
}

.navlink {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: sans-serif;
}
.navlink:hover {
  color: #c4306b;
}

@media (max-width: 720px) {
  .navLinks,
  .button {
    display: none;
  }
}

@media (max-width: 992px) {
  .navLinks,
  .button {
    display: none;
  }
  .userProfile .menuBTN > button {
    display: block;
    position: absolute;
    right: 10%;
    top: 3%;
  }
}
