*{
    margin: 0;
    padding: 0;
}

.mainNav{
    
    display: flex;
    height: 10vh;
    width: 100vw;
    justify-content: space-between;
    position: absolute;
    z-index: 99;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3)0px 30px 60px -30px;
   
}
.logo{
    /* border: 1px solid blue; */
    margin-left: 100px;
    padding: 16px;
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
}
.links{
   
  margin-left: -50px; 
  

}
.links ul{
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}
.links ul li{
   
    list-style: none;
    padding: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 200px;
    color: white;
}

.button{
  
    margin-right: 150px;
    padding: 20px;
}

.btn{
    height: 35px;
    width: 100px;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 200px;
    
}