* {
  margin: 0;
  padding: 0;
}

.mainNav {
  display: flex;
  height: 10vh;
  width: 100%;
  justify-content: space-between;
  position: relative;
  z-index: 99;
  background-color: white;
  position: fixed;
  align-items: center;
  margin: 0 auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.logo {
  /* border: 1px solid blue; */
  margin-left: 100px;
  padding: 16px;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  font-weight: bold;
}
.links {
  margin-left: -50px;
}
.links ul {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
}
.links ul li {
  list-style: none;
  padding: 25px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 200px;
  color: white;
}

.button {
  height: 2vh;
  padding: 2%;
  background-color: #c4306b;
  width: 8%;
  cursor: pointer;
  transition: scale 0.2 ease;
  position: absolute;
  right: 0px;
}
.button:hover {
  background-color: black;
  scale: 1.05;
}
.btn {
  height: 35%;
  width: 100%;
  background-color: transparent;
  color: white;
  border-radius: 10px;
  border: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 200px;
}

.navlink {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: sans-serif;
}
.navlink:hover {
  color: #c4306b;
}
.links ul li:first-child a {
  color: #c4306b;
}

.userProfile {
  width: 5%;
  color: black;
}

.menuBtn > button {
  padding: 0.4rem;
  display: none;
  color: #000;
  border: none;
  width: 1%;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 992px) {
  .links,
  .button {
    display: none;
  }
  .userProfile .menuBtn > button {
    display: block;
    /* background-color: #fff;
        border: none;
        border-radius: 2rem;
        font-size: 1rem;
        font-weight:500 ;
        padding: 1rem;
        border:2px solid #fff; */
  }
}

@media (max-width: 1080px) {
  .button {
  }
}

.navbarMobile {
  display: block;
  position: absolute;
  right: 2rem;
  width: 70%;
  transition: all 2s ease-out;
  margin-top: 9rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
}
.navbarMobile li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0.7rem;
}
.navbarMobile li:nth-child(3n) {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #c4306b;
}
