.main{
    background-color:black;
    width: 100%;
    background-color:white;
    width: 80%;
    height:30vh ;
    display: flex;
    margin-left: 10%;
    margin-top: 5%;
}
p{
    color:black;
}
.icons{
    color:black;
    /* width:10px ; */

   
}
#icon1{
    background-color: white;
    /* border-radius: 50px; */
    padding: 3%;
    margin-right: 3%;
}
#icon2{
    background-color: white;
    /* border-radius: 50px; */
    padding: 3%;
    margin-right: 3%;
}
#icon3{
    background-color: white;
    /* border-radius: 5%; */
    padding: 3%;
    margin-right:3%;
}
.main4{
  padding-left:2rem ;
  padding-right:2rem ;
  

  
}
.main3{
  padding-left:3rem ;
  padding-right:3rem ;
}
.main2{
  padding-left:3rem ;
  padding-right:3rem ;
  margin-right: 15vh;
  /* position: relative; */
}
.main1{
  padding-left:3rem ;
  padding-right:3rem ;
  margin-right: 3vh;
}
.form{
  margin-top: 5rem;
}
.main21{
  margin-left:3rem ;
  margin-top: 0.2rem;
}

@media  screen and (max-width:480px) {
  .main{
    display: flex;
    flex-direction: column;
  }
  .form{
    margin-bottom: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position:absolute; */
    /* top: 10rem; */
    margin-top: 10rem;
    padding-top: 15rem;
  }
  .main1{
    margin-bottom: 3rem;
  }
}
