.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  /* background-color: #4071f4; */
  background-image: url('https://t4.ftcdn.net/jpg/01/02/52/13/360_F_102521378_1DWSrQUG4kkYkmdigcHVqMjJszB4ORJF.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.innerContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #efe5e9;
  border: 1px solid #efe5e9;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  width: 40em;
  height: 50em;
  text-align: left;
}

.innerContainer form input {
  margin: 1em;
  width: 60%;
  height: 2rem;
  padding: 1em;
  border-radius: 2px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #c4306b;
  outline: none;
}

.innerContainer form input:focus {
  color: #010611;
  border-bottom: 3px solid #c4306b;
}

h1 {
  color: #c4306b;
}

.submitButton {
  margin-top: 2.2rem;
  padding: 0.8rem;
  cursor: pointer;
  width: 67%;
  background-color: #c4306b;
  border: 1px solid #c4306b;
  border-radius: 10px;
  color: wheat;
}

.submitButton:hover {
  background-color: #010611;
  transition: 2s;
}

.loginBtn {
  margin-top: 7px;
}

span {
  width: 62%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  font-weight: 420;
  font-style: unset;
}

.success{
  margin-top: 0.3rem;
  border: 1px solid lightgreen;
  background-color: lightgreen;
  padding: 0.3rem;
}

.warning {
  color: red;
}

@media (max-width: 650px) {
  .innerContainer form {
    box-shadow: none;
    
  }

  .container {
    background-color: #efe5e9;
    background-image: none;
  }
}

@media (max-width: 480px) {
  .innerContainer form input {
    width: 40%;
    height: 1rem;
  }
  .submitButton {
    width: 47%;
  }
  span {
    width: 42%;
  }
}
