.priceCardContainer {
  border: 1px solid rgb(199, 195, 195);
  background-color: #111727;
  width: 18rem;
  height: 35rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 10rem 0rem;
  scale: 1.1;
}

#planName > h2 {
  color: #c4306b;
}

#priceBox {
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
}

#price {
  font-size: 50px;
  font-weight: 700;
}
.regularFont {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #999ea8;
  font-weight: 500;
  gap: 7px;
}

.specific {
  font-size: 16px;
  color: #999ea8;
  font-weight: 500;
  margin-top: 1rem;
}

#ButtonDark {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #c4306b;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

#ButtonLight {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid rgb(199, 195, 195);
  background-color: white;
  color: black;
  font-size: 15px;
  margin-top: 10px;
  font-weight: 600;
}

#featureText {
  font-size: 15px;
  font-weight: 700;
  color: white;
}

#footContent {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 15px;
}

#buttonSection {
  margin: 2rem 0rem;
}

.lowerHalf {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#planName {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tag {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c4306b;
  width: 85px;
  height: 30px;
  color: white;
  border-radius: 20px;
}

/* mediaQuery 768px -  1024px */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .priceCardContainer {
    display: none;
  }
}

/* mediaQuery max 768px */

@media screen and (max-width: 768px) {
  .priceCardContainer {
    margin: 1rem 1rem;
  }

  .priceCardContainer {
    scale: 1;
  }
}
