#aboutUsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
  margin-top: 10rem;
  width: 100vw;
}

.aboutUpperSection {
  background-color: white;
  display: flex;
  justify-content: center;
  width: 90%;
}

.aboutImage {
  width: 47rem;
  height: 25rem;
  object-fit: cover;
  height: auto;
}
.aboutImage > img {
  max-width: 100%;
}

.aboutContentBox {
  width: 47rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aboutContentTitle {
  font-size: 30px;
  font-weight: 600;
  font-family: sans-serif;
}

.aboutContentPara {
  font-family: sans-serif;
  width: 30rem;
  line-height: 1.5;
  color: grey;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: start;
  gap: 1.5rem;
}

/* mediaQuery upto 480px for mobile */

@media screen and (max-width: 480px) {
  #aboutUsContainer {
    width: 100vw;
    margin-bottom: 5rem;
  }

  .aboutUpperSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .aboutImage {
    width: 100%;
  }

  .aboutContentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 20rem;
  }

  .innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aboutContentPara {
    width: 90%;
  }
}

/* mediaQuery upto 768px for mobile */

@media screen and (min-width: 480px) and (max-width: 768px) {
  #aboutUsContainer {
    width: 100vw;
    margin-bottom: 5rem;
  }

  .aboutUpperSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    width: 100%;
    margin-bottom: 5rem;
  }

  .aboutImage {
    width: 100%;
    height: 100%;
  }

  .aboutContentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aboutContentPara {
    width: 90%;
  }
}

/* mediaQuery upto 1024px for mobile */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #aboutUsContainer {
    width: 100vw;
    margin-bottom: 10rem;
  }

  .aboutUpperSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .aboutImage {
    width: 50%;
    height: 100%;
  }

  .aboutContentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
  }

  .innerContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    gap: 5px;
  }

  .aboutContentPara {
    width: 90%;
  }
}

/* mediaQuery upto 1200px for mobile */

@media screen and (min-width: 1024px) {
  #aboutUsContainer {
    width: 100vw;
    margin-bottom: 10rem;
  }

  .aboutUpperSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .aboutImage {
    width: 50%;
    height: 100%;
  }

  .aboutContentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
  }

  .innerContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .aboutContentPara {
    width: 90%;
  }
}
