.carouselContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 57rem;
  /* width: 96vw; */
  gap: 2.5rem;
  padding: 2rem;
  background-color: #c4306b;
  font-family: sans-serif;
}
.carouselContainer > p {
  font-weight: 400;
  width: 25rem;
  text-align: center;
  line-height: 1.5;
  color: white;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  border-radius: 5px;
  object-fit: cover;
}

.cardBox {
  position: relative;
  min-width: 30rem;
  height: 100%;
}

.carousel {
  display: flex;
  align-items: center;
  gap: 2rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
  width: 100%;
  height: 30rem;
}

.carousel::-webkit-scrollbar {
  display: none;
}

#carouselText {
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

#cardTypeText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: absolute;
  height: 25%;
  background: rgba(136, 136, 136, 0.3);
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 40%;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.containedBtn {
  min-height: 60px;
  min-width: 150px;
  border-radius: 30px;
  border: 2px solid white;
}

.containedBtn:hover {
  background-color: #c4306b;
  color: white;
}

.curouselNav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 10px;
  font-size: 16px;
}

.navBtn {
  font-size: 50px;
  font-weight: 200;
  cursor: pointer;
}

.navBtn:hover {
  scale: 1.1;
}

/* mediaQuery upto 480px for mobile */

@media screen and (max-width: 768px) {
  .carouselContainer > p {
    display: none;
  }

  .carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    overflow-y: scroll;
    width: 100%;
  }

  .curouselNav {
    display: none;
  }

  .cardBox {
    border: 2px solid green;
    min-width: 100%;
    height: 35rem;
  }
}
